.ts4nfdi-badge-style .badge {
  font-size: 13px;
  padding: 2px 3px 0;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.25);
}

.ts4nfdi-badge-style .clickable-badge:hover {
  background-color: white;
  color: #666666;
}
