.ts4nfdi-searchResult-style * {
  font-family: "Inter", BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.ts4nfdi-searchResult-style .euiCard {
  font-family: "Inter", BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  padding-top: 0;
}

.ts4nfdi-searchResult-style .euiCard__content div {
  font-family: "Inter", BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  align-items: baseline;
}

.ts4nfdi-searchResult-style ul {
  list-style: none;
}

.ts4nfdi-searchResult-style .euiSelectableListItem__content {
}

.ts4nfdi-searchResult-style-metadata-compact-iri * {
  font-family: "Inter", BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.ts4nfdi-searchResult-style-metadata-compact-description * {
  font-family: "Inter", BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.ts4nfdi-searchResult-style-metadata-compact-breadcrumb button {
  background: none;
  border: none;
}

.ts4nfdi-searchResult-style-metadata-compact-breadcrumb .euiBadge * {
  font-family: "Inter", BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.ts4nfdi-searchResult-style-metadata-compact-breadcrumb .breadcrumb {
  padding: 3px 3px 0;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.ts4nfdi-searchResult-style-metadata-compact-breadcrumb
  .clickable-breadcrumb:hover {
  border: 2px solid black;
}
