.ts4nfdi-entity-defined-by-style * {
  font-family: 'Inter',BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.ts4nfdi-entity-defined-by-style button {
  border: none;
  background: none;
  font-family: 'Inter',BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}


