.ts4nfdi-graph-style {
  font-family: 'Inter',BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.ts4nfdi-graph-style button {
  border: none;
  font-family: 'Inter',BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}