.euiFilterSelectItem:hover {
  text-decoration: none !important;
}

button {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.surroundCircle {
  border-radius: 50%;
  height: 17px;
  width: 17px;
  display: inline-block;

  background: #8228cc;
  color: #ffffff;
  text-align: center;
  font:
    15px Arial,
    sans-serif;
  font-weight: bold;
}

.ontology-badge {
  font-size: 13px;
  background-color: #6dccb1;
  padding: 3px 3px 0;
  border-radius: 6px;
  border: 2px solid #6dccb1;
  color: black;
}

.ontology-badge:hover {
  background-color: white;
}

.expand-onto-list {
  color: #00827c;
  font-style: italic;
}

.expand-onto-list:hover {
  text-decoration-line: underline;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.highlight {
  background-color: lightblue;
  padding: 4px 3px 1px;
  border-radius: 6px;
}

.clickable {
  color: #0645ad;
}

.clickable:hover {
  text-decoration: underline;
}
