.custom-breadcrumb-style * {
}

.custom-breadcrumb-style button {
  background: none;
  border: none;
}

.euiBadge * {
  font-family: 'Inter',BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.custom-breadcrumb-style .clickable-breadcrumb {

}

.custom-breadcrumb-style .breadcrumb {
    padding: 6px 6px 0;
    border-radius: 0;
    border: 10px solid rgba(0,0,0,0);

}

.custom-breadcrumb-style .clickable-breadcrumb:hover {
    border: 2px solid black;
}