.surroundCircle {
    border-radius: 50%;
    height: 17px;
    width: 17px;
    display: inline-block;

    background: #8228cc;
    color: #ffffff;
    text-align: center;
    font: 15px Arial, sans-serif;
    font-weight: bold;
}