.ts4nfdi-autocomplete-style * {
  font-family: 'Inter',BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.ts4nfdi-autocomplete-style input,
.ts4nfdi-autocomplete-style .euiComboBox__inputWrap{
}

.ts4nfdi-autocomplete-style button {
  background: none;
  border: none;
}

.euiComboBoxOptionsList * {
  border: none;
  background-color: inherit;
}

.euiComboBoxOptionsList__empty {
  font-family: 'Inter',BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}
